---
import MainLayout from "../layouts/MainLayout.astro";
import Articles from "@/components/Articles.astro";
---

<MainLayout>
  <h1 class="text-6xl font-bold text-orange-300 mb-10">Latest Articles</h1>
  <Articles />
</MainLayout>
